<div>
  <div class="input-group">
    <span class="input-group-addon">
      <span class="glyphicon glyphicon-search"></span>
    </span>
    <input type="text" class="form-control" ng-model="searchInput">
  </div>
  <p>ordered by: {{order}}</p>
  <div class="btn-group" role="group" aria-label="...">
    <button class="btn btn-default" ng-click="order = 'title'"><span class="glyphicon glyphicon-font"></button>
    <button class="btn btn-default" ng-click="order = 'priority'"><span class="glyphicon glyphicon-flag"></button>
    <button class="btn btn-default" ng-click="order = 'effort'"><span class="glyphicon glyphicon-time"></button>
      <button class="btn btn-default" ng-click="order = 'fun'"><span class="glyphicon glyphicon-heart"></button>
    <button class="btn btn-default" ng-click="order = 'done'"><span class="glyphicon glyphicon-ok"></button>
  </div>
  <span class="clearfix"></span>
  <ul class="list-group">
    <li class="list-group-item">
      <form class="form" ng-submit="addTask()">
        <span class="glyphicon glyphicon-font"></span>
        <input type="text" ng-model="newTask.title" required />
        <span class="glyphicon glyphicon-flag">
          <input type="number" min="1" max="5" ng-model="newTask.priority" />
          <span class="glyphicon glyphicon-time"></span>
          <input type="number" min="1" max="5"  ng-model="newTask.effort" />
          <span class="glyphicon glyphicon-heart"></span>
          <input type="number" min="1" max="5"  ng-model="newTask.fun" />
          <button class="btn btn-link"><span class="glyphicon glyphicon-plus-sign"></span></button>
          <span class="clearfix"></span>
      </form>
    </li>
    <li class="list-group-item" ng-repeat="task in tasks | filter:searchInput | orderBy: order track by $index">
      <div>
        <button class="pull-right btn btn-xs" ng-click="removeTask(task.id)"><span class="glyphicon glyphicon-trash"></span></button>
        <p><strong>{{task.id+'# '+task.title}}<strong></p>
        <p class="pull-right"><span class="glyphicon glyphicon-flag"></span>{{task.priority}}</p>
        <p class="pull-right"><span class="glyphicon glyphicon-time"></span>{{task.effort}}</p>
        <p class="pull-right"><span class="glyphicon glyphicon-heart"></span>{{task.fun}}</p>
        <p class="pull-right"><span ng-if="task.done" class="glyphicon glyphicon-ok"></span></p>
        <span class="clearfix"></span>
      </div>
    </li>

  </ul>
</div>
